@font-face {
  font-family: "Manrope";
  src: url("../fonts/-Bold.eot");
  src: local("../fonts/ Bold"), local("../fonts/-Bold"),
    url("../fonts/Manrope-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Manrope-Bold.woff2") format("woff2"),
    url("../fonts/Manrope-Bold.woff") format("woff"),
    url("../fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/-Semibold.eot");
  src: local("../fonts/ Semibold"), local("../fonts/-Semibold"),
    url("../fonts/-Semibold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/-Semibold.woff2") format("woff2"),
    url("../fonts/-Semibold.woff") format("woff"),
    url("../fonts/-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/-Regular.eot");
  src: local("../fonts/ Regular"), local("../fonts/-Regular"),
    url("../fonts/Manrope-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Manrope-Regular.woff2") format("woff2"),
    url("../fonts/Manrope-Regular.woff") format("woff"),
    url("../fonts/Manrope-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/-Light.eot");
  src: local("../fonts/ Light"), local("../fonts/-Light"),
    url("../fonts/Manrope-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Manrope-Light.woff2") format("woff2"),
    url("../fonts/Manrope-Light.woff") format("woff"),
    url("../fonts/Manrope-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/-Thin.eot");
  src: local("../fonts/ Thin"), local("../fonts/-Thin"),
    url("../fonts/Manrope-Thin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Manrope-Thin.woff2") format("woff2"),
    url("../fonts/Manrope-Thin.woff") format("woff"),
    url("../fonts/Manrope-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/-Medium.eot");
  src: local("../fonts/ Medium"), local("../fonts/-Medium"),
    url("../fonts/Manrope-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Manrope-Medium.woff2") format("woff2"),
    url("../fonts/Manrope-Medium.woff") format("woff"),
    url("../fonts/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/-ExtraBold.eot");
  src: local("../fonts/ ExtraBold"), local("../fonts/-ExtraBold"),
    url("../fonts/Manrope-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Manrope-ExtraBold.woff2") format("woff2"),
    url("../fonts/Manrope-ExtraBold.woff") format("woff"),
    url("../fonts/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
